@media all and (max-width: 768px) {
	.nav{
		float: left;
	}
	.navbar-collapse{
		border: none;
	}
	.box_1{
		font-size: 0.5em;
	}
	.box_3 .col-md-4:first-of-type{
		margin-bottom: 1.5em;
	}
	.box_3 canvas{
		display: inline-block;
		color: white;
	}
}

@media all and (max-width: 992px) and (min-width: 768px){
	.box_3 .col-md-4:first-of-type{
		margin-bottom: 1.5em;
	}
	.box_3 canvas{
		display: inline-block;
	}
}